html {
  height: inherit !important;
}

body {
  top: 0 !important; 
}

/** MAIN CODE **/

.menu-toggle {
  height: 1.5rem;
  width: 2.5rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  overflow: hidden;
  border-radius: .2rem;
}

.menu-toggle,
.menu-toggle > *,
.span,
.span-container,
.menu,
.menu > * {
  box-sizing: content-box !important;
}

.menu-span {
  height: 0.15rem;
  width: 2.375rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  transition: all 500ms ease;
}

.span-container.active .menu-span {
  background-color: black;
}

.menu-span2 {
  top: 42%;
}

.menu-span3 {
  top: calc(42% + 22%);
}

.span-container.active .menu-span1 {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  margin-top: 0.75rem;
}

.span-container.active .menu-span2 {
  transform: scale(0);
}

.span-container.active .menu-span3 {
  transform: translate(-50%, -225%) rotate(-45deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: .5rem;
  padding-left: 1rem;
  padding-top: 4rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 500ms ease;
  transform-origin: left;
  z-index: 99;
  width: clamp(15rem, 10rem, 10rem);
  aspect-ratio: 1;
  border-bottom-right-radius: .5rem;
}

.menu.active {
  transform: translateX(0);
}

.items-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .7rem;
}

.items-container .menu-header {
  text-align: left;
  cursor: pointer;
  transition: color 250ms ease;
}

.items-container .menu-header:hover {
  color: var(--secondary);
}

/* menu code end */

.section__header {
  cursor: pointer;
}

.section__header:where(:hover, :focus) {
  text-decoration: underline 2px currentColor;
}

/* HERO Section */

.header__hero {
  all: unset;
  font-size: 6.5rem;
  position: absolute;
  top: 25%;
  left: 2rem;
  color: white;
}

.ip {
  position: absolute;
  top: calc(calc(25% + 5.5rem) + 2rem);
  left: 2rem;
  font-size: 2rem;
  color: #999;
}

.main__image {
  position: absolute;
  bottom: 7.5rem;
  right: 5%;
  border-radius: 1rem;
  height: clamp(20rem, 30rem, 50vw);
  width: clamp(20rem, 30rem, 70vh);
  border: none;
  transform: rotate(30deg);
  opacity: .5;
  z-index: 0;
}

.btn__copyIP {
  bottom: 30%;
  left: 2rem;
  transform: unset;
}

.scroll {
  position: absolute;
  left: 2rem;
  bottom: 20%;
  color: #999;
  font-size: 1.3rem;
  text-decoration: none;
}

.scroll:where(:hover, :focus) {
  color: var(--secondary);
}

/* ABOUT Section */

.section__staff {
  background-color: none;
  background-image: linear-gradient(
    to bottom right,
    var(--selection),
    var(--secondary)
  );
}

.section__staff .section__header {
  color: black;
}

.paragraph__about {
  text-align: center;
  font-size: 1.3rem;
  margin-inline: 4rem;
  max-height: 2rem;
}

@media (max-width: 600px) {
  .paragraph__about {
    margin-inline: 1rem !important;
  }
}

.swiper {
  width: clamp(50vw, 50rem, 90vw);
  height: calc(500px - 5%);
  position: absolute;
  top: 5%;
}

.swiper-slide {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  text-align: center;
  background-color: rgb(202, 202, 202);
}

.user-avatar {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 3rem;
  height: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.user-header {
  position: absolute;
  top: calc(calc(3rem + 40%) + 2rem);
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}

.user-header .user-name {
  color: black;
}

.user-header .user-tag {
  color: #444;
}

.user-header:hover .user-tag {
  color: black;
}

.user-role {
  position: absolute;
  top: calc(calc(calc(3rem + 40%) + 2rem) + 5rem);
  left: 50%;
  transform: translate(-50%);
  font-size: 1.3rem;
}


/* ABOUT SERVER section */

.paragraph__server {
  text-align: center;
  font-size: 1.3rem;
  margin-inline: 4rem;
  max-height: 2rem;
  color: white;
}

.swiper2 .swiper-slide {
  background-color: white;
}

.swiper-icon {
  height: 30%;
  aspect-ratio: 1;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%);
}

.swiper-icon path {
  fill: var(--accent);
}

.swiper-header {
  font-size: 1.5rem;
  position: absolute;
  top: calc(calc(30% + 3rem) + 2rem);
  left: 50%;
  transform: translate(-50%);
}

.swiper-brief {
  font-size: 1.3rem;
  position: absolute;
  top: calc(calc(calc(30% + 3rem) + 2rem) + 3rem);
  left: 50%;
  transform: translate(-50%);
  min-width: 75%;
  word-wrap: break-word;
  color: var(--accent);
}

/* FAQ Section */

.section__faq {
  background-color: none;
  background-image: linear-gradient(
    to bottom right,
    var(--selection),
    var(--secondary)
  );
}

.section__faq .section__header {
  color: black;
}

.header__faq {
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translate(-50%);
  min-width: max-content;
  z-index: 5;
}

.container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.main-wrapper {
  width: 95%;
  margin-top: 3rem;
  transition: width 250ms ease;
}

@media (min-width: 700px) {

  .main-wrapper {
    width: 65% !important;
  }

}

@media (min-width: 450px) {

  .main-wrapper {
    width: 80%;
  }

}

.wrapper {
  background-color: var(--accent);
  margin-bottom: 20px;
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
}

.toggle {
  width: 100%;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
}

.content {
  position: relative;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 250ms;
  color: white;
}

@media (max-width: 400px) {

  .toggle {
    font-size: 1.1rem;
  }

  .content {
    font-size: 1rem;
  }

}

/* END section */

.section__credits {
  clip-path: none !important;
}

.icon__small {
  margin-top: 3rem;
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 1rem;
  height: 30%;
  aspect-ratio: 1 / .95;
  border: none;
  outline: white solid 2px;
  outline-offset: .5rem;
}

.link-group {
  position: absolute;
  top: 60%;
  left: 50%;
  min-width: max-content;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.link:where(:hover, :focus) {
  color: var(--secondary);
}

.footer-text {
  position: absolute;
  left: 50%;
  bottom: .5rem;
  transform: translate(-50%);
  min-width: max-content;
  font-size: 1.4rem;
  color: #fff;
}

/** google translate code */

.goog-te-banner-frame.skiptranslate {
  visibility: hidden !important;
}

#goog-gt-tt {
  visibility: hidden !important;
  pointer-events: none !important;
  opacity: 0 !important;
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

.translate__container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--secondary);
  padding: 1rem;
  border-bottom-left-radius: .2rem;
  z-index: 10;
}

.translate__container select {
  background-color: var(--selection);
  border: solid 1px transparent;
  padding: .25em 1.25em;
  cursor: pointer;
  font-family: "Main";
  font-size: 1.1rem;
}

.translate__container select option {
  background-color: var(--accent);
  padding: .25em 1em;
  color: white;
  font-size: .9rem !important;
}

.translate__container img {
  display: none !important;
}

.translate__container .skiptranslate > *:not([id=":0.targetLanguage"]) {
  display: none !important;
}